.productPage{
  @apply font-Inter text-moonBlack;
  padding: 2rem 2vw;
}
.product{
  display: flex;
  flex-direction: column;
}
.productData__title{
  @apply text-xl;
}

.productImg_main-slide{
  display: flex;
  justify-content: center;
  height: 511px;
  margin-bottom: 32px
}
.product__main-swiper{
  height: 100px;
}
.product__main-swiper img{
  height: inherit;
}

@media (min-width: 768px) {
  .productPage{
    padding: 2rem 10vw;
  }
  .product{
    flex-direction: row;
  }
  .product__component{
    width: 50%;
  }
  .productData__toCard{
    width: 100%;
  }
}
