.signUp {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0;
}

.signUp__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  border: 1px solid darkgreen;
  border-radius: 1rem;
  padding: 20px;

  width: 70%;
  min-width: 300px;
  max-width: 400px;
}

.signUp__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;

  width: 100%;
}

.sugnUp__buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3rem;

  width: 100%;
}

.signUp__toLink {
  width: 100%;
  padding: 0.5rem;

  text-align: center;
  white-space: nowrap;

  font-size: 1rem;
  font-weight: 600;
}
.signUp__linkArow {
  transition: padding-right 0.4s;
}

@media (min-width: 768px) {
  .signUp__form {
    min-width: 600px;
  }

  .signUp__data {
    width: 100%;
    max-width: max-content;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .signUp__adressTitle {
    width: 100%;
    text-align: center;
  }

  .signUp__data > div {
    width: 45%;
  }

  .signUp__birth {
    flex-direction: column;
  }
  .signUp__birth > div {
    width: 100%;
  }

  .sugnUp__buttonContainer {
    flex-direction: row;
    gap: 0;
  }
  .signUp__toLink {
    width: min-content;
  }
}

@media (hover: hover) {
  .signUp__toLink:hover {
    text-decoration: none;
  }
  .signUp__toLink:hover
    > .signUp__linkArow {
    padding-right: 10px;
  }
}
