.loginFormFieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.passwordSection {
  display: flex;
}

.wrapperPasswordInput {
  padding-right: 5px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}
