@media (hover: hover) {
  .signUp__button:hover {
    background-color: black;
  }
}

.signUp__button {
  cursor: pointer;

  color: white;
  transition: background-color 0.4s;

  width: 100%;
  white-space: nowrap;
  border: 0;
  padding: 0.5rem;

  font-size: 1rem;
  font-weight: bold;
}

.signUp__button:disabled {
  background-color: gray;
}

.signUp__buttonToLogin {
  background-color: inherit;
  color: inherit;
}

@media (min-width: 768px) {
  .signUp__button {
    width: min-content;
  }
  .signUp__buttonSend {
    width: 45%;
  }
}
