.productImg__slide{
  display: flex;
  justify-content: center;
  height: inherit;
  cursor: pointer;
}
.productImg__main-swiper{
  height: 511px;
  margin-bottom: 32px
}
.productImg__footer-swiper{
  height: 100px;
}
.productImg__footer-swiper img{
  cursor: pointer;
}