.productImg__slide{
  display: flex;
  justify-content: center;
  height: inherit;
  cursor: pointer;
}

.productImg__main-swiper{
  height: 511px;
  margin-bottom: 32px
}
.productImg__main-swiper .swiper-button-prev::after,
.productImg__main-swiper .swiper-button-next::after{
  padding: 1rem;
  @apply text-moonBlack;
}

.productImg__footer-swiper{
  height: 100px;
}
.productImg__footer-slide{
  opacity: 0.4;
}
.productImg__footer-slide.swiper-slide-thumb-active{
  opacity: 1;
}
.productImg__footer-img{
  position: relative;
  height: 100%;
  cursor: pointer;
}