.select {
  position: relative;
  cursor: pointer;
}

.select__field {
  border: 1px solid black;
  padding: 3px 0.5rem;
  border-radius: 1rem;
}

.select__field_active {
  background: antiquewhite;
}

.select__options {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;

  list-style-type: none;

  width: 90%;
  height: 120px;
  margin: -1px 0 0 0;
  padding: 0;

  border: 1px solid black;

  background-color: white;

  z-index: 2;
}

.select__options::-webkit-scrollbar {
  width: 6px;
}
.select__options::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: black;
}
.select__options::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: gray;
}

.select__option {
  padding: 6px 0;
  padding-left: 6px;
  border-bottom: 1px solid #000;

  cursor: pointer;
}

.select__option:last-child {
  border-bottom: none;
}

@media (hover: hover) {
  .select__option:hover {
    background-color: black;
    color: white;
  }
}
